addict==2.4.0
audioread==2.1.9
certifi==2020.12.5
cffi==1.11.5
channelnorm-cuda==0.0.0
chardet==4.0.0
cloudpickle==0.6.1
coloredlogs==10.0
correlation-cuda==0.0.0
cycler==0.10.0
Cython==0.29.23
dask==1.0.0
decorator==4.3.0
dlib==19.22.0
easydict==1.9
filelock==3.0.12
flake8==3.6.0
gdown==3.12.2
humanfriendly==4.17
idna==2.10
imagecorruptions==1.1.2
imageio==2.4.1
joblib==1.0.1
kiwisolver==1.0.1
librosa==0.7.0
llvmlite==0.31.0
matplotlib==2.2.2
mccabe==0.6.1
mkl-fft==1.0.6
mkl-random==1.0.1
mmcv==0.2.14
mmpycocotools==12.0.3
networkx==2.2
numba==0.48.0
numpy==1.20.2
olefile==0.46
opencv-contrib-python==4.5.3.56
panopticapi @ git+https://github.com/cocodataset/panopticapi.git@118ffaba478b5d45925e88d504625b4123f3160a
Pillow==8.2.0
protobuf==3.6.1
pycocotools @ git+https://github.com/cocodataset/cocoapi.git@8c9bcc3cf640524c4c20a9c40e89cb6a2f2fa0e9#subdirectory=PythonAPI
pycodestyle==2.4.0
pycparser==2.19
pyflakes==2.0.0
pyparsing==2.3.0
PySocks==1.7.1
python-dateutil==2.7.5
pytz==2018.7
PyWavelets==1.1.1
PyYAML==5.4.1
requests==2.25.1
resample2d-cuda==0.0.0
resampy==0.2.2
scikit-image==0.15.0
scikit-learn==0.24.1
scipy==1.6.2
six==1.11.0
sklearn==0.0
SoundFile==0.10.3.post1
TBB==0.1
tensorboardX==1.5
terminaltables==3.1.0
threadpoolctl==2.1.0
tifffile==2021.4.8
toolz==0.9.0
torch==1.7.1+cu110
torchaudio==0.7.0a0+a853dff
torchvision==0.8.2+cu110
tornado==5.1.1
tqdm==4.60.0
typing-extensions
urllib3==1.26.4
yapf==0.31.0
